

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");



:root{
    --black : #333333;
    --grey : #F2F2F2;
    --blue :  #0065FC;
    --lightBlue : #DEEBFF;
}


* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

main{
    width: 93%;
    max-width: 1200px;
    margin: auto;
}



section{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    align-self: center;
}


.section-main-container{
    width: 90%;

}



h1, h2, h3, p{
    color: var(--black);    
}

h1, h2{
    font-size: 15px;
}



.container-row-col{
    display: flex;
    flex-direction: row;
    flex: 1;
}



i.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


a, a:visited{
    text-decoration: none;
    color: black;
}





/***************************************/
/***************************************/
/*              HEADER                 */
/***************************************/
/***************************************/

header{
    display: flex;
    justify-content: space-between;
}

header img{
    align-self: center;
    transform: scale(0.5);
}

.logo-phone{
    display: none;
}


nav{
    display: flex;
}



nav a{
    border-top: 4px solid white;
    padding: 30px;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    color: var(--blue);
    border-top: 4px solid var(--blue);
}






/***************************************/
/***************************************/
/*              MAIN                   */
/***************************************/
/***************************************/


h1{
    margin-bottom: 0;
}

h1+p{
    margin-top: 5px;
}



/*================================================================*/
/*                             SEARCH                             */
/*================================================================*/

#search{
    border-radius: 10px;
    background-color: var(--grey);
    height: 35px;
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
}


#search div{
    display: flex;
    align-items: center;
    height: 100%;
}

#search div input{
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 95%;
    padding-left: 15px;
    border: none;
    width: 260px;
    color: var(--black);
}

#search div input::placeholder{
    color: var(--black);
}


#search+i{
    color: #333;
}

#search i{
    font-size: 1em;
}

#search i:first-child{
    width: 35px;
}

#search-button{
    background-color: var(--blue);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    height: 35px;
    position: absolute;
    right: 0;
}

#search-button i{
    color: white;
    display: none;
}

#search-button span{
    font-weight: bold;
    color: white;
    margin: 0 13px;
}






/*================================================================*/
/*                                FILTRES                         */
/*================================================================*/


#filter{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#filter h2{
    font-size: 16px;
    margin-right: 20px;
}

.container-wrap{
    display: flex;
    flex-wrap: wrap;
}



.filter-item{
    display: flex;
    align-items: center;
    height: 35px;
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 30px;
    margin: 10px 20px 10px 0;
    transition: border-color;
    transition-duration: 0.3s;
}

.filter-item i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--blue);
    background-color: var(--lightBlue);
    margin-left: -2px;
}

.filter-item .item-container-i i{
    object-fit: contain;
}

.filter-item p{
    font-weight: bold;
    margin: 0 20px 0 10px;
    transition: color 0.3s;
}

.filter-item i::before{
    transition: transform;
    transition-duration: 0.3s;
}

/*=====================================================================*/
/*  MODIFICATION DU STYLE DES FILTRES AU PASSAGE DE LA SOURIS ( HOVER )*/

.filter-item:hover{
    border-color: #005DFC;
}


.filter-item:hover i::before{
    transform: scale(1.5);
}

.filter-item:hover p{
    color: var(--blue);
}

/*======================================================================*/

#information{
    display: flex;
    align-items: center;
}

#information i{
    width: 20px;
    height: 20px;
    border: 1px solid var(--grey);
    border-radius: 50%;
    color: #005DFC;
    font-size: 10px;
    margin-right: 10px;
}


#information p{
    margin: 0;
}






/*================================================================*/
/*                      SECTION HEBERGEMENTS                      */
/*================================================================*/

.container-hebergements{
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    padding: 25px;
    border-radius: 20px;
}



.section-hebergement-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.card:hover{
    background-color: var(--lightBlue);
}

.card:hover h3, .card:hover p{
    color: var(--blue);
}


.card:hover i.empty{
    color: #d3d1d1;
}


/*================================================================*/
/*                      HEBERGEMENTS                              */
/*================================================================*/


#part-hebergements{
    width: 65.5%;
}

#hebergements-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 4px var(--grey);
    border-radius: 20px;
    transition: all 0.3s;    
}

.card-hebergement{
    width: 30%;
    min-width: 170px;
    min-height: 140px;
    margin-bottom: 20px;
}


.card a{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 3px;
}

.card-hebergement a{
    flex-direction: column;

}

.card-hebergement-container-img{
    width: 100%;
    overflow: hidden;
    height: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-hebergement a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-hebergement .card-text{
    height: 57%;
}

.card-hebergement-description{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 10px;
}



.card-hebergement-description h3, .card-hebergement-description p{
    margin: 0;
    font-size: 10.5px;
    transition: all 0.3s;
}


.card-hebergement-description .container-star{
    display: flex;
}



button.text-like{
    border: none;
    font-weight: bold;
    font-size: 12px;
    width: fit-content;
    margin: 10px 0;
    background-color: transparent;
}





/*================================================================*/
/*                      MOST POPULAR                              */
/*================================================================*/
#part-most-popular{
    width: 32%;

}

#part-most-popular .container-hebergements{
    height: 100%;
}

.most-popular-container-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.most-popular-container-title i{
    display: flex;
    font-size: 16px;
}


.most-popular-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}


.most-popular{
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    border-radius: 20px;
}


.most-popular-container-img{
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.most-popular-container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description{
    flex: 1;
    padding-left: 10px;
}

.most-popular-container-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.most-popular-container-description h3, .most-popular-container-description p{
    margin: 0;
    font-size: 10.5px;
}


.most-popular-container-description .container-star{
    display: flex;
}



.container-star i{
    color: #005DFC;
    font-size: 10px;
    transition: all 0.3s;
}

.container-star i.empty{
    color: var(--grey);
}



.card:hover > div, .description{
    transition: all 0.3s;
}

.card:hover > div, .card:hover .description{
    background-color: var(--lightBlue);
}





/*================================================================*/
/*                             ACTIVITY                           */
/*================================================================*/


#activities{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.activity-main-container{
    width: 48.5%;
    min-width: 450px;
    display: flex;
    justify-content: space-between;
}


.activities-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}



.activity{
    width: 46.5%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 4px var(--grey);
    transition: all 0.3s;
}


.activity:hover{
    box-shadow: 0 0 2px 4px var(--lightBlue);
}

.activity:hover p{
    background-color: var(--lightBlue);
    color: var(--blue);    
}

.activities-container .activity{
    width: 100%;
}

.activity img{
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#paul-hermann{
    height: 125px;
}

#kevin-hikari{
    height: 75px;
}

#florian-wehde{
    height: 95px;
}

#lena-paulin{
    height: 105px;
}


.activity p{
    background-color: white;
    height: 40px;
    margin: 0;
    font-weight: bold;
    padding: 15px;
    font-size: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s;
}






/***************************************/
/***************************************/
/*              FOOTER                 */
/***************************************/
/***************************************/

footer{
    background-color: var(--grey);    
}

footer div{
    display: flex;
    width: 93%;
    margin: auto;
    padding: 30px 0;
}

footer ul{
    list-style-type: none;
    width: 30%;
    padding-left: 0;
    font-size: 10px;
    margin-right: 25px;
}

footer ul li:first-child{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 15px;
}

li{
    margin-bottom: 10px;
}






/***************************************/
/***************************************/
/*              MEDIA                  */
/***************************************/
/***************************************/

/*
    breakpoints à utiliser

     > 992px pour les ordinateurs (desktop)

     > 768px pour les tablettes

     < 768px pour les smartphones
*/


/*  MODIFICATIONS POUR LES TABLETTES    */
@media screen and (max-width: 991px) {


    #filter{
        flex-direction: column;
        align-items: flex-start;
    }



/*================================================================*/
/*                      SECTION HEBERGEMENTS                      */
/*================================================================*/

    .section-hebergement-container{
        flex-direction: column;
    }




/*================================================================*/
/*                      HEBERGEMENTS                              */
/*================================================================*/
    #part-hebergements{
        width: 100%;
    }
    
    .card-hebergement-container-img{
        height: 90px;
    }




/*================================================================*/
/*                      MOST POPULAR                              */
/*================================================================*/

    #part-most-popular{
        order: -1;
        width: 100%;
        margin-bottom: 25px;
    }

    .most-popular-list{
        flex-direction: row;
    }

    .most-popular{
        width: 30%;
    }





/*================================================================*/
/*                             ACTIVITY                           */
/*================================================================*/

    #activities{
        flex-direction: column;
    }


    .activity-main-container{
        width: 100%;
    }

    .activity-main-container:first-child{
        margin-bottom: 30px;
    }

}



/*  MODIFICATIONS POUR LES SMARTPHONES    */
@media screen and (max-width: 767px) {
    
    body{
        font-size: 13px;
    }

    main{
        width: 100%;
    }

    section:first-child{
        padding: 20px;
    }

    header{
        flex-direction: column;
    }


    .logo-phone{
        display: block;
    }

    .logo-desktop{
        display: none;
    }

    nav a{
        width: 50%;
        border-bottom: 4px solid var(--grey);
        border-top : none;
    }

    nav a:hover{
        border-bottom: 4px solid var(--blue);
        border-top : none;
    }

    .container-row-col{
        flex-direction: column;
    }


    h1{
        font-size: 22px;
    }


/*================================================================*/
/*                             SEARCH                             */
/*================================================================*/
    
    #search{
        width: 100%;
        max-width: 350px;
    }

    #search div{
        width: 100%;
    }

    #search i:first-child {
        width: 50px;
    }

    #search div input{
        font-size: 14px;
    }

    #search-button{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50px;
    }

    #search-button i{
        display: flex;
    }

    #search-button span{
        display: none;
    }



/*================================================================*/
/*                             FILTER                             */
/*================================================================*/
   
    #filter{
        align-items: flex-start;
    }


    .filter-item{
        height: 50px;
    }

    .filter-item i{
        width: 50px;
        height: 50px;
    }


/*================================================================*/
/*                      SECTION HEBERGEMENTS                      */
/*================================================================*/

.container-hebergements{
    border-radius: 0;
    padding: 20px;
}



/*================================================================*/
/*                      HEBERGEMENTS                              */
/*================================================================*/

#part-hebergements .container-hebergements{
    background-color: white;
}

.card-hebergement{
    width: 100%;
}


.card-hebergement-container-img{
    height: 110px;
}

/*================================================================*/
/*                      MOST POPULAR                              */
/*================================================================*/
    #part-most-popular{
        width: 100%;
        margin-bottom: 0;
    }

    .most-popular-list{
        flex-direction: column;
    }

    .most-popular{
        width: 100%;
        margin-bottom: 10px;
    }


/*================================================================*/
/*                             ACTIVITY                           */
/*================================================================*/

    #section-activity{
        padding: 20px;
    }

    .activity-main-container{
        flex-direction: column;
        min-width: 0;
    }

    .activity-main-container:first-child{
        margin-bottom: 0;
    }

    .activity{
        width: 100%;
        min-width: 200px;
        margin: 10px 0;
    }

    .activity img{
        height: 135px;
    }

    .activities-container{
        width: 100%;
    }


    #paul-hermann{
        height: 135px;
    }

    #kevin-hikari{
        height: 135px;
    }

    #florian-wehde{
        height: 135px;
    }

    #lena-paulin{
        height: 135px;
    }




/*================================================================*/
/*                             FOOTER                             */
/*================================================================*/

    footer div{
        width: 100%;
        flex-direction: column;
        padding-left: 20px;
    }

    footer div ul{
        width: 100%;
    }
}
